alias zz="vi ~/.zshrc"
alias reload="source ~/.zshrc"

alias hg="history | grep"

alias gs="git status"
alias gg="git grep"
alias gcu="git reset HEAD^1"
alias dc="docker compose"
alias dcu="dc up -d --remove-orphans"
alias dcub="dcu --build"
alias dcrba="dc down && docker compose up --build -d"
alias dcrb="dcub --no-deps"
alias dcd="dc down --remove-orphans"
alias dcl="dc logs -f"
alias dcr="dc restart"
alias de="dc exec -it"
alias dcb="dc build"
alias dclean="docker system prune --all"

alias ni="npm install"
alias nis="npm install --save"
alias nu="npm uninstall"
alias nus="npm uninstall --save"
