alias zz="vi ~/.zshrc"
alias reload="source ~/.zshrc"

alias hg="history | grep"

alias gs="git status"
alias gg="git grep"
alias gcu="git reset HEAD^1"
alias dc="docker-compose"
alias dcu="docker-compose up -d --remove-orphans"
alias dcub="dcu --build"
alias dcrba="docker-compose down && docker compose up --build -d"
alias dcrb="dcub --no-deps"
alias dcd="docker-compose down --remove-orphans"
alias dcl="docker-compose logs -f"
alias dcr="docker-compose restart"
alias de="docker-compose exec -it"
alias dcb="docker-compose build"
alias dclean="docker system prune --all"

alias ni="npm install"
alias nis="npm install --save"
alias nu="npm uninstall"
alias nus="npm uninstall --save"
